.nav-nav-menu {
    align-items: center;
    background-color: #0f0f0f;
    display: flex;
    gap: 16px;
    height: 54px;
    justify-content: flex-end;
    padding: 0px 45px;
    position: relative;
    width: 100%;
  }
  
  .nav-nav-menu .nav-list-item-instance {
    flex: 0 0 auto !important;
  }
  
  .nav-nav-menu .design-component-instance-node {
    color: #fafcff !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    white-space: nowrap !important;
  }
  
  .nav-nav-menu .button {
    align-items: center;
    background-color: var(--color-background-positive-default);
    border: 1px solid;
    border-color: var(--color-border-brand-default);
    border-radius: var(--size-radius-200);
    display: inline-flex;
    flex: 0 0 auto;
    gap: var(--size-space-200);
    justify-content: center;
    overflow: hidden;
    padding: var(--size-space-300);
    position: relative;
  }
  
  .nav-nav-menu .size-16 {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
  }
  
  .nav-nav-menu .text-wrapper {
    all: unset;
    box-sizing: border-box;
    color: var(--color-text-brand-on-brand);
    font-family: var(--single-line-body-base-font-family);
    font-size: var(--single-line-body-base-font-size);
    font-style: var(--single-line-body-base-font-style);
    font-weight: var(--single-line-body-base-font-weight);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  